{% extends "courses/layout.html" %}
{% load course_extras %}

{% block title %}{{ step.title }} | {{ step.course.title }} {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'courses:Detail' pk=step.course.pk %}">{{ step.course.title }}</a></li>
{% endblock %}

{% block content %}
    <div class="row columns">
        <article>
            {{ block.super }}
            <h1>{{ step.title }}</h1>
            <ul class="no-bullet">
                {% for question in step.question_set.all %}
                <li>
                    <h2>{{ question.prompt }}</h2>
                    {% for answer in question.answer_set.all %}
                         <div class="callout">{{ answer.text }}</div>
                    {% endfor %}
                    {% if user.is_authenticated %}
                        <hr>
                        <a href="{% url 'courses:EditQuestion' question_pk=question.pk quiz_pk=step.pk %}" class="button">Edit</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>


        </article>
        {% if user.is_authenticated %}
            <hr>
            <a href="{% url 'courses:EditQuiz' course_pk=step.course.pk quiz_pk=step.pk %}" class="button">Edit</a>
            <a href="{% url 'courses:CreateQuestion' quiz_pk=step.pk question_type='mc' %}" class="button">New Multiple Choice Question</a>
            <a href="{% url 'courses:CreateQuestion' quiz_pk=step.pk question_type='tf' %}" class="button">New True/False Question</a>
        {% endif %}
    </div>
{% endblock %}